*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;   
}

/*BARRA DE NAVEGACION*/

.navbar-brand{
    font-family: 'PT Serif', serif;
}

.navbar-icon{    
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 30px;
}

.navbar-icon a{
    color: #333;
}

h4{
    text-align: center;
    padding-top: 30px;
    font-family: 'Merriweather', serif;
    height: 30px;
}

/*BANNER*/
.img-fluidB{
    width: 100%;
    height: 100%; 
}

/*Section*/
.top-sellers{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}

.img-fluid {
    width: 200px;
    height: 200px;
}


.box{
    margin: auto;
    border: 2px solid whitesmoke;
    align-content: center;
    color: black;
}

.box:hover{
    border: 2px ridge white;
}

.box-text{
    text-align: center;
    padding-bottom:  20px;
}

.jazz{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}


.rock{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}

.frase{
    margin: 100px;
    text-align: center;
    font-family: 'Domine', serif;
    
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 60px;
    background-color: #333;
    gap: 80px;
    flex-wrap: wrap;
}

.footer h6{
    color: white;
}

.icon-redes{
    display: flex;
    gap: 30px;
}

.icon-redes a{
    color: white;
}

.box-contacto{
    color: white;
}


.box-contacto a{
    text-decoration: none;
    color: white;
}
.cuenta a{
    color: azure;
    text-decoration: none;
}

/*PÁGINA NOSOTROS*/

.banner-nosotros{
    position: relative;
    display: inline-block;
    text-align: center;
}

.banner-nosotros h1{
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-fluidN{
    width: 100%;
}



.box-n{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 70px;
}

.box-t{
    padding-top: 100px; 
}

.box-parrafo{
    height: 300px;
    width: 400px;
    padding-top: 30px;

}

.box-n1{
    display: flex;
    width: 100%;
    height: 400px;
    padding-left: 300px;
    padding-top: 100px;
    gap: 20px;
    background-color: #FFE43D;
}


.box-n2{
    display: flex;
    width: 100%;
    height: 400px;
    padding-left: 300px;
    padding-top: 100px;
    gap: 100px;
    background-color: whitesmoke;
}

/*PÁGINA PRODUCTOS*/
.barra-info{
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
    padding-left: 50px;
    font-size: smaller;
    gap: 10px;
}

.barra-info a{
    text-decoration: none;
    color: black;
}

.barra-info a:hover{
    text-decoration: underline;
}

.img-fluidP{
    height: 300px;
    width: 300px;
}

.productos{
    margin: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 30px;
    ;
}

.lista-producto{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    gap: 40px;
}   


.descripcion-btn{
    display: flex;
    width: 950px;
    gap: 40px;
    margin-top: 50px;
    background-color: #F8F9F9 ;
    padding: 20px;
}




