*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;    
}


/*BARRA DE NAVEGACION*/

.navbar-brand{
    font-family: 'PT Serif', serif;
}

.navbar-icon{    
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 30px;
}

.navbar-icon a{
    color: #333;
}

.navbar-icon a:hover{
    color: #64c630;
}

h4{
    text-align: center;
    padding-top: 30px;
    font-family: Anton, sans-serif;
    height: 30px;
}

/*BANNER*/
.img-fluidB{
    width: 100%;
    height: 100%; 
}

/*Section*/
.top-sellers{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}

.img-fluid {
    width: 200px;
    height: 200px;
}


.box{
    margin: auto;
    border: 2px solid whitesmoke;
    align-content: center;
    border-radius: 2px;
    color: black;
    transition: 200ms;
}

.box:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.228);
    cursor: pointer;
}

.box-text{
    text-align: center;
    padding-bottom:  5px;
}

.jazz{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}


.rock{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;
    padding: 50px;
    gap: 30px;
    flex-wrap: wrap;
}

.btn-o{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #64c630;
    color: white;
    font-family: Anton, sans-serif;
    border: none;
}

.btn-o:hover{
    background-color: black  ;
}


.frase{
    margin: 100px;
    text-align: center;
    font-family: 'Domine', serif;
    
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 60px;
    background-color: #333;
    gap: 80px;
    flex-wrap: wrap;
}

.footer h6{
    color: white;
}

.icon-redes{
    display: flex;
    gap: 30px;
}

.icon-redes a{
    color: white;
}

.box-contacto{
    color: white;
}


.box-contacto a{
    text-decoration: none;
    color: white;
}
.cuenta a{
    color: azure;
    text-decoration: none;
}

/*PÁGINA NOSOTROS*/

.banner-nosotros{
    position: relative;
    display: inline-block;
    text-align: center;
}

.banner-nosotros h1{
    color: white;
    font-family: "Anton", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-fluidN{
    width: 100%;
}

.box-n{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 100px;
    gap: 70px;
}

.box-t{
    height: 50px;
    padding-top: 50px;
}

.box-parrafo{   
    width: 450px;
}


.box-n1{
    display: flex;
    padding: 100px;
    padding-left: 300px;
    gap: 20px;
    background-color:  #f2ebdf;
}

@media (max-width: 1000px){
    .box-n1{
        padding-left: 120px;
    }
}


.box-n2{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
    gap: 100px;
    background-color: whitesmoke;
}

@media (max-width: 1000px){
    .box-n2{
        gap: 20px;
    }

    .box-n{
        padding: 30px;
    }
}


/*PÁGINA PRODUCTOS*/
.barra-info{
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
    padding-left: 50px;
    font-size: smaller;
    gap: 10px;
}

.barra-info a{
    text-decoration: none;
    color: black;
}

.barra-info a:hover{
    text-decoration: underline;
}

.img-fluidP{
    height: 300px;
    width: 300px;
}

.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

.lista-producto{
    display: flex;
    margin: 10px;
    gap: 40px;
}   

.descripcion-btn{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    background-color: #F8F9F9 ;
    padding: 20px;
}

.btn-a{
    width: 100px;
    height: 40px;
    background-color: #64c630;
    color: white;
    font-family: Anton, sans-serif;
    border: none;
    
}

.btn-a:hover{
    background-color: black  ;
    
}

@media (max-width: 1000px){
    .descripcion-btn{
        flex-wrap: wrap;
        width: 400px;
        gap: 10px;
    }
}

@media (max-width: 900px){
    .lista-producto{
        flex-wrap: wrap;
        justify-content: center;
    }

    .productos{
        gap: 20px;
    }
}


/*PAGINA LOGIN*/

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.datos{
    width: 350px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(211, 206, 206);
    border-radius: 3px;
}

.btn-ingresar{
    width: 350px;
    height: 55px;
    background-color: #64c630;
    border: 1px solid rgb(211, 206, 206);
    color: #F8F9F9;
    font-size: 20px;
    border-radius: 4px;
}

.login p{
    padding-top: 10px;
}

.hide{
    position: absolute;
    transform: translateY(-2000px);  
}



